
main{
    margin-top: 3rem;
}


main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: underline;
}

.Project-details a{
    font-weight: bold;
}

.ongoing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.12);
    padding: 8px;
    margin-bottom: 15px;
}

.ongoing-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project-date{
    background: rgb(233, 233, 233);
    border: 1px solid gray;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project-details{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    padding-top: 10px;
}



.status-label{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.status-label:hover{
    background-color: rgb(170, 168, 168);
}


.container{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 100px;
}

.left-side{
    margin-top: 40px;
    width: 60%;
}

.right-side{
    width: 100%;
}

.profile-sm{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.12);
    width: 100;
    margin-bottom: 50px;
}

.profile-icon{
    width: 100px;
    height: 100px;
    font-size: 100px!important;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 30px;
}



.todo{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.12);
    height: auto;
}

.todo ul{
    padding: 30px 40px;
    font-size: 20px;
}

.edit-icon:hover{
    color: brown;
}



.suggested-job{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 16px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.12);
    padding: 30px;
    background-color: #4A583D;
}

.job{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 230px;
    border: 2px solid grey;
    border-radius: 16px;
    /* background-color: #4A583D; */
    /* background-color: #424242; */
    /* background-color: #5b4636; */
    color: #F5F5F5;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.12);
    padding: 10px;
}

.job:hover{
    transform: translateY(-5px);
}

.job a{
    text-decoration: none;
    color: white;
}

.job-header{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.favoriteBtn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #d9534f!important;
    transition: color 0.3s ease-in-out;
}

.favoriteBtn i {
    font-size: 30px;
}

.favoriteBtn:hover {
    color: #c9302c!important;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skill-tag{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: #D9D9D9;
    color: black;
}



/* Evaluation */
.evaluation-container{
    margin-bottom: 30px;
}

.evaluation-container h4{
    margin-bottom: 30px;
}

.evaluation-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.evaluation-title{
    min-width: 120px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

.evaluation-bar{
    flex-grow: 1;
    height: 15px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background: linear-gradient(90deg, #8a2be2, #ac93c3);
    text-align: right;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    line-height: 15px;
    transition: width 1s ease-in-out;
}
