main{
    margin-top: 3rem;
}

.profile-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile{
    display: flex;
    width: 60%;
    padding: 20px;
    justify-content: center;
}

.profile-left{
    text-align: center;
    padding: 50px;
}

.profile-icon {
    width: 150px;
    height: 150px;
    font-size: 150px!important;
    border-radius: 50%;
}


.rank{
    margin-top: 10px;
    font-size: 20px;
}

.profile-card{
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    padding: 20px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.12);
}

.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-icon{
    font-size: 25px;
}

.edit-icon:hover{
    color: brown;
}

.profile-content p{
    margin: 5px 0;
}

.detail th{
    width: 170px;
}

.detail{
    font-size: 15px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.skill-tag{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: #D9D9D9;
    color: black;
    margin-right: 5px;
}

.evaluation-container{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.12);
}

.evaluation-container-sm{
    margin-bottom: 30px;
}

.evaluation-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.evaluation-title{
    min-width: 120px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

.evaluation-bar{
    flex-grow: 1;
    height: 15px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background: linear-gradient(90deg, #8a2be2, #ac93c3);
    text-align: right;
    padding: 0 20px 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    line-height: 15px;
    transition: width 1s ease-in-out;
}

.Project-container{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px!important;
    width: 70%;
    margin: auto;
    margin-bottom: 80px;
    height: 500px;
    padding: 0 15px 15px 15px;
    overflow-y: auto;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.12);
}

.tab-menu{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#Project-history:checked ~ .tab-menu label[for="Project-history"],
#ongoing:checked ~ .tab-menu label[for="ongoing"],
#likes:checked ~ .tab-menu label[for="likes"] {
    color: brown;
    border-bottom: 1px solid brown;
}

.Project-container input{
    display: none;
}

.tab-label{
    padding: 10px 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tab-label:hover{
    color: brown;
}



.tab-content{
    padding: 10px;
    overflow-y: auto;
}

.tab-pane{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.12);
}

#Project-history:checked ~ .tab-content .Project-history,
#ongoing:checked ~ .tab-content .ongoing,
#likes:checked ~ .tab-content .likes{
    display: block;
    display: flex;
    align-items: center;
}

.project-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project-date{
    background: gray;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: underline;
}

.status-label{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.status-label:hover{
    background-color: rgb(170, 168, 168);
}


.select-container{
    width: 380px;
    position: relative;
    display: inline-block;
}

.custom-select{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown{
    position: absolute;
    top: -30px;
    left: 100%;
    width: 200px;
    border: 1px solid #ccc;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    border-radius: 5px;
    z-index: 1000;
}


.dropdown div{
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    white-space: nowrap;
}


.selected-option{
    background: #0073e6;
    color: white;
}

.selected-tags{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag{
    background: #909294;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.tag span{
    font-weight: bold;
    cursor: pointer;
}

