/* company-profile */
.icon-sm {
    font-size: 2rem; 
}

.icon-lg {
    font-size: 5rem; 
}

.profile-container {
    position: relative;
    overflow: visible; /* Ensure content inside can overflow */
    /* top: 30px;
    left:-60px; */
}

.project-container{
    border: 1px solid black;
    margin-top: 20px!important;
    width: 80%;
    margin: auto;
    padding: 0 15px 15px 15px;
    background-color: lightgrey;
}

.project-container input{
    display: none;
}

.tab-menu{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#project-history:checked ~ .tab-menu label[for="project-history"],
#payment-history:checked ~ .tab-menu label[for="payment-history"] {
    /* color: purple; */
    border-bottom: 1px solid black;
}

.tab-label{
    padding: 10px 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tab-pane{
    display: none;
}

#project-history:checked ~ .tab-content .project-history,
#payment-history:checked ~ .tab-content .payment-history{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-height: 500px; 
    overflow-y: auto;  
}

.project-history-contents{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    background-color: white;
    
}

.project-date{
    background: gray;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

