.list-group-item.active {
    background-color: #6c757d !important;
    color: white !important;
    border-color: #6c757d !important;
    }

.icon-lg {
    font-size: 6rem; 
    }

table tr {
    height: auto;
    }

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    }

.pagination .page-link {
    color: black !important;
    }

.pagination .page-item.active .page-link {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    }

    .job-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .job-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }

    .info {
    margin-bottom: 10px;
    }

    .info span {
    display: block;
    }

    .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }

    .transaction-table th,
    .transaction-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    }

    .transaction-table th {
    background-color: #f9f9f9;
    }

    .total-balance {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    }

    /* Tags inside flex-wrap container */
    .d-flex p {
        margin-bottom: 4px; /* Space between tags */
        font-size: 12px;    /* Smaller text for tags */
        padding: 4px 8px;   /* Reduce padding for tags */
        border-radius: 4px; /* Rounded corners for tags */
    }

    h1{
        position: relative;
        left: 140px;
        top: 50px;
    }

    