.comments{
    margin-top: 20px;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}

.job-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like{
    color: #d9534f;
}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message.user{
    justify-content: flex-end;
}

.message.other{
    justify-content: flex-start;
}

.chat-icon{
    margin-right: 10px;
}

.bubble{
    padding: 10px 15px;
    border: 1px solid #8d7761;
    border-radius: 15px;
    max-width: 70%;
    font-size: 16px;
    color: #5a4a42;
    line-height: 1.5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.comment-form{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.comment-input{
    flex-grow: 1;
    padding: 8px 15px;
    border: 1px solid #8d7761;
    border-radius: 10px;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    color: #5a4a42;
}


.comment-btn{
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

.comment-btn:hover{
    background-color: rgb(49, 48, 48);
}

.request-btn{
    display: block;
    margin-left: auto;
    margin-top: 40px;
    padding: 8px 30px;
    border-radius: 20px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

.request-btn:hover{
    background-color: rgb(49, 48, 48);

}

.skill-tag{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: #D9D9D9;
    color: black;
    margin-right: 5px;
}
