#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}


.user-sidebar{
    border-right: 1px solid black;
    overflow-y: auto;
    padding: 20px;
    height: 100vh;
}

.user-sidebar .user{
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-bottom: 25px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    border-radius: 50%;
    color: black;
}

.user-sidebar a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
    color: black;
}

.user i{
    margin-right: 10px;
}

.none-message{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}

.message-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
}

.message-header{
    border-bottom: 1px solid black;
}

.message-content{
    flex-grow: 1;
    padding: 50px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
}

.message{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message .chat-icon{
    margin-right: 10px;
}

.bubble{
    padding: 10px 15px;
    border: 1px solid #8d7761;
    border-radius: 15px;
    max-width: 70%;
    font-size: 16px;
    color: #5a4a42;
    line-height: 1.5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-content .user{
    justify-content: flex-end;
}

.message-content .other{
    justify-content: flex-start;
}

.comment-form{
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.comment-input{
    flex-grow: 1;
    padding: 8px 15px;
    border: 1px solid #8d7761;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    color: #5a4a42;
}

.comment-btn{
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

.comment-btn:hover{
    background-color: rgb(49, 48, 48);
}
