.list-group-item.active {
    background-color: #6c757d !important;
    color: white !important;
    border-color: #6c757d !important;
    }

    .icon-lg {
        font-size: 6rem; 
    }

    table tr {
        height: auto;
    }